@charset 'utf-8';

@import 'settings';
@import 'foundation';
@import 'motion-ui';

@include foundation-global-styles;
@include foundation-grid;
@include foundation-typography;
@include foundation-button;
@include foundation-forms;
@include foundation-visibility-classes;
@include foundation-float-classes;
@include foundation-accordion;
@include foundation-badge;
@include foundation-breadcrumbs;
@include foundation-button-group;
@include foundation-callout;
@include foundation-close-button;
@include foundation-drilldown-menu;
@include foundation-dropdown;
@include foundation-dropdown-menu;
@include foundation-flex-video;
@include foundation-label;
@include foundation-media-object;
@include foundation-menu;
@include foundation-off-canvas;
@include foundation-orbit;
@include foundation-pagination;
@include foundation-progress-bar;
@include foundation-slider;
@include foundation-sticky;
@include foundation-reveal;
@include foundation-switch;
@include foundation-table;
@include foundation-tabs;
@include foundation-thumbnail;
@include foundation-title-bar;
@include foundation-tooltip;
@include foundation-top-bar;

@include motion-ui-transitions;
@include motion-ui-animations;

@import url('https://fonts.googleapis.com/css?family=Open+Sans|Oswald');



/* Variables */

$bg-section: #F9FBE7; 
$bg-section-name: #F0F4C3;

$headers-font-family: 'Oswald', sans-serif;
$text-font-family:'Open Sans', sans-serif;

// Clases generales

.ma-top-40 {
  margin-top: 40px;
}
.bg-section {
  background-color: $bg-section;
}
.section-name {
  background-color: $bg-section-name;
  text-align: center;
  padding: 1rem 0;
  margin-bottom: 0;
}
p {
font-family: $text-font-family;
}
h1,h2,h3,h4,h5 {
  font-family: $headers-font-family;
  }
.fullWidth {
   width: 100%;
   margin-left: auto;
   margin-right: auto;
   max-width: initial;
}


// video & audio 

.bg-video {
  background-color: #BF360C;
  background: url(../images/bg-video.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 700px;
  position: relative;
}

.bg-audio {
  background-color: #3E2723;
  background: url(../images/bg-audio.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 700px;
  position: relative;
}

.centered-content {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
}

/* Small only */
@media screen and (max-width: 39.9375em) {

.bg-video {
  height: 400px;
}
.bg-audio {
  height: 400px;
}
.centered-content {
  width: 90%;
}
}


/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {
  .bg-video {
  height: 500px;
}
.bg-audio {
  height: 500px;
}
.centered-content {
  width: 80%;
}
}


/* ===================================== */
/* ========= Landing Image ================ */
/* ===================================== */

.bg-image {
  background-color: #3E2723;
  background: url(../images/bg-image.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 85%;
  margin-top: -100px;
  position: relative;
}
.landing-text {
  text-align: center;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
    h2 {
    	 font-size: 5rem;
        font-weight: 900;
        line-height: 5.5rem;
    }
    p {
      font-size: 1.5rem;
      font-weight: 900;
    }
}
.fa-angle-down {
  color: #fff;
  top: 90%;
  left: 50%;
  position: absolute;
}


/* ===================================== */
/* ========= Sobre mi ===================== */
/* ===================================== */

// Historia small
.left-50 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: $bg-section;
  width: 100%;
  float: left;
  height: 400px;
  padding: 20px;
}
.right-50 {
  background-image: url(../images/dj-toful.jpg);
  background-size: cover;

  width: 100%;
  height: 500px;
  float: left;
  overflow: hidden;
}

// Historia Large and up
@media screen and (min-width: 64em) {
.left-50 {
  width: 50%;
  float: left;
  height: 500px;
  padding: 30px;
}
.right-50 {
  width: 50%;
  float: left;
  overflow: hidden;
}
}

// Footer

footer {
  padding-top: 20px;
}

/* ===================================== */
/* ========= Top Bar ===================== */
/* ===================================== */

.hamburguer{
      float: left;
      width:100px;
      height:100px;
      box-sizing:border-box;
      text-align:center; 
  
      font-family:sans-serif;
      line-height:104px;
      color:white;
      font-size:50px;

      cursor:pointer;
  
      -ms-transform: rotate(90deg); /* IE 9 */
      -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
      transform: rotate(90deg);
}

/* Variables Top- bar */

$logo-width: 100px;
// Reduce px value to increase space between logo and menu text
$logo-padding: $logo-width - 32px; 
// Leave alone
$logo-margin: - ($logo-width / 2);

.top-bar {
  position: relative;
  z-index: 2;
  padding-top: 30px;
}
.title-bar {
	position: relative;
	z-index: 2;
}
.menu > li > a {
    font-weight: 600;
    text-transform: uppercase;
    color: #E0E0E0;
        	&:hover {
        	transition: color .1s 0s ease-in-out;
    		color:#fff;
    	}
    text-align: center;
    font-size: 1rem;
    padding: 0.7rem 1rem;
}

/* Top bar Small Navigation */
.logo-small {
  	float: right;
   	width: $logo-width;
      	height:  80px;
      	margin-top: 20px;
}
.title-bar {
  padding: 0 0.5rem;
}
.menu-icon,
.title-bar-title {
  position: relative;
  top: 35px;
}
.top-bar, .top-bar ul {
    background-color: #0a0a0a;
}
.top-bar ul {
  margin-top: 18px;
}
/* Small only */
@media screen and (max-width: 39.9375em) {
    nav.top-bar{
    padding-bottom: 40px;
    }
    h1 {
    font-size: 3rem;
    }
    h3 {
    font-size: 2.5rem;
    }
}
/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {

  .bg-image {
   margin-top: -160px;
   }
   .landing-text-center {
    top: 55%;
   }
  .top-bar,.top-bar ul {
    background-color: transparent;
  }
  .logo {
      width: $logo-width;
      height:  80px;
      text-align: center;
      margin: 0 auto;
    }
  
  // Right part
  .top-bar-right {
    width: 50% !important; 
    ul {
      li > a{
        padding: 0.7rem 0.5rem;
      }
      float: left;
    }
  }
  // Left part
  .top-bar-left {
    width:  50% !important;
    ul {
      li > a{
        padding: 0.7rem 0.5rem;
      }
      float: right;
    }
  }

}

/* Large and up */
@media screen and (min-width: 64em) {
  .top-bar,.top-bar ul {
    background-color: transparent;
}
  .logo-wrapper {
    position: relative;
    .logo {
      width: $logo-width;
      height:  80px;
      position: absolute;
      left: 50%;
      right: 50%;
      top: -12px;
      margin-left: $logo-margin;
    }
  }
  // Right part
  .top-bar-right {
    width: 50% !important;
    padding-left: $logo-padding;
    
    ul {
      float: left;
    }
  }
  // Left part
  .top-bar-left {
    width:  50% !important;
    padding-right: $logo-padding;
   
    
    ul {
      float: right;
    }
  }
}


/* ============== Masonry ======================= */


* { box-sizing: border-box; }

/* force scrollbar */
html { overflow-y: scroll; }

body { font-family: sans-serif; }

/* ---- grid ---- */

.grid {
  background: #DDD;
}

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .grid-item ---- */

.grid-sizer,
.grid-item {
  width: 33.333%;
}

.grid-item {
  float: left;
}

.grid-item img {
  display: block;
  max-width: 100%;
}

/* ===================================== */
/* ========= Contacto ==================== */
/* ===================================== */

#contacto{
  padding-bottom: 30px;
}
footer {
  background-color: #424242;
  color: #fff;
}

// Form 

#contact-area {
  margin-top: 25px;
}

#contact-area input, #contact-area textarea {
  padding: 5px;
  font-size: 1.4em;
  margin: 0px 0px 10px 0px;
  border: 2px solid #ccc;
}

#contact-area textarea {
  height: 90px;
}

#contact-area textarea:focus, #contact-area input:focus {
  border: 2px solid #CDDC39;
}

#contact-area input.submit-button {
  float: right;
  border: none;

}

// Social Stuff
.social-stuff {
  padding-top: 30px;
  background-color: #F0F4C3;
}


.list-unstyled {
  padding-left: 0;
  list-style: none;
}
.list-inline li {
  display: inline-block;
  padding-right: 5px;
  padding-left: 5px;
  margin-bottom: 10px;
}

/*Change icons size here*/
.social-icons .fa {
  font-size: 1.8em;
}
/*Change icons circle size and color here*/
.social-icons .fa {
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  color: #FFF;
  color: rgba(255, 255, 255, 0.8);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.social-icons.icon-circle .fa{ 
  border-radius: 50%;
}


.social-icons.icon-zoom .fa:hover, .social-icons.icon-zoom .fa:active { 
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1); 
}
.social-icons.icon-rotate .fa:hover, .social-icons.icon-rotate .fa:active { 
  -webkit-transform: scale(1.1) rotate(360deg);
  -moz-transform: scale(1.1) rotate(360deg);
  -ms-transform: scale(1.1) rotate(360deg);
  -o-transform: scale(1.1) rotate(360deg);
  transform: scale(1.1) rotate(360deg);
}

.social-icons .fa-soundcloud{background-color:#f50;} 
.social-icons .fa-facebook{background-color:#3C599F;}  
.social-icons .fa-instagram{background-color:#A1755C;}
.social-icons .fa-twitter{background-color:#32CCFE;} 
.social-icons .fa-youtube{background-color:#C52F30;}
 